* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url('alena-aenami-escape-hd.jpg') center/cover no-repeat fixed;
    color: #fff;
    overflow-x: hidden;
    line-height: 1.6;
}



.navbar {
  
    top: 0; left: 0; right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 35px;
    background: rgba(9, 13, 96, 0.337);
    z-index: 1000;
}

@media(max-width: 768px){
  .navbar {
    padding: 15px 20px;
  }
}

.logo {
  display: flex;
    align-items: center;
    gap: 12px;
    font-size: 15px;
    font-weight: 200;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.logo img {
   width: 45px;
    height: 45px;
    object-fit: contain;
}

.nav-links a {
 margin: 0 8px;
    padding: 8px 18px;
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
    background: white;
    color: #6a11cb;
    box-shadow: 0 0 12px rgba(255,255,255,0.8);
}



.hero {
    height: 35vh;
    display: flex;
    flex-direction: column;
     background: rgba(9, 13, 96, 0);
    justify-content: center;
    text-align: center;
     align-items: center; 
    padding: 0 40px;
} 
.hero h1 {
    font-size: 52px;
    margin-bottom: 10px;
    text-shadow: 0 0 20px rgba(255,255,255,0.5);
}



.about-block {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 60px 10%;
}

.about-block.reverse {
    flex-direction: row-reverse;
}

.about-img {
    flex: 1;
    border-radius: 20px;
    overflow: hidden;
    max-height: 330px;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text {
    flex: 1.2;
    background: rgba(9, 13, 96, 0.65);
    backdrop-filter: blur(15px);
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(138,82,255,0.35);
}

.about-text h2 {
    font-size: 32px;
    margin-bottom: 12px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.7;
}




footer {
    text-align: center;
    padding: 25px;
    background: rgba(9, 13, 96, 0.55);
 
    margin-top: 40px;
}

footer a {
    color: #ff66c4;
    text-decoration: none;
    font-weight: 600;
}

.socials i {
    margin: 0 12px;
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s;
}

.socials i:hover {
    transform: scale(1.2);
}




@media (max-width: 950px) {
    .about-block,
    .about-block.reverse {
        flex-direction: column;
        text-align: center;
    }

    .about-img {
        max-height: 260px;
    }

    .about-text {
        margin-top: 15px;
    }
}