* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url('alena-aenami-escape-hd.jpg') center/cover no-repeat fixed;
    color: #fff;
    overflow-x: hidden;
    line-height: 1.6;
}


@media(max-width: 768px){
  .navbar {
    padding: 15px 20px;
  }
}


.navbar {
    top: 0; left: 0; right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 35px;
    background: rgba(9, 13, 96, 0.337);
    z-index: 1000;
}

.nav-links a {
    margin: 0 8px;
    padding: 8px 18px;
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
    background: white;
    color: #6a11cb;
    box-shadow: 0 0 12px rgba(255,255,255,0.8);
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
  font-size: 15px;
    font: weight 200px; ;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}


.logo img {
    width: 45px;
    height: 45px;
    object-fit: contain;
   
}




.hero {
    height: 35vh;
    display: flex;
    flex-direction: column;
     background: rgba(9, 13, 96, 0);
    justify-content: center;
    text-align: center;
     align-items: center; 
    padding: 0 40px;
   
}

.hero h1 {
    font-size: 52px;
    margin-bottom: 10px;
    text-shadow: 0 0 20px rgba(255,255,255,0.5);
}


.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.filters button {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background: rgba(255,255,255,0.8);
    color: #1b1464;
    font-weight: 600;
    transition: 0.3s;
}

.filters button:hover,
.filters button.active {
    background: #ff66c4;
    color: #fff;
    box-shadow: 0 0 10px #ff66c4;
}



.grid {
    margin: 50px auto;
    width: 90%;
    max-width: 1400px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}



.card {
    background: rgba(9, 13, 96, 0.55);
    border-radius: 18px;
    overflow: hidden;
    position: relative;
    backdrop-filter: blur(10px);

    box-shadow: 0 0 18px rgba(0,0,0,0.5);

    transition: 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 25px rgba(255,255,255,0.4);
}

.card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.card .info {
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.card .heart {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 7px 11px;
    background: rgba(255,255,255,0.25);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.card .heart:hover {
    background: #ff4b5c;
}

.card.selected {
    border: 2px solid #ff4b5c;
    box-shadow: 0 0 18px rgba(255, 75, 92, 0.6);
}



footer {
    background: rgba(9, 13, 96, 0.55);
    padding: 35px;
    text-align: center;
    margin-top: 40px;
}

footer a {
    color: #ff66c4;
    text-decoration: none;
    font-weight: 600;
}

.socials i {
    font-size: 30px;
    margin: 0 10px;
    transition: 0.3s;
}

.socials i:hover {
    transform: scale(1.2);
}

.view-btn {
    width: 80%;
    margin: 10px auto 20px;
    padding: 10px 0;
    display: block;
    border: none;
    border-radius: 20px;
    background: #ff66c4;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.view-btn:hover {
    background: white;
    color: #ff66c4;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
}



.modal {
    display: none;
    position: fixed; 
    z-index: 2000;
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 900px;
    max-height: 80vh;
    object-fit: contain; 
}


#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


.close-btn {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #ff66c4; 
    text-decoration: none;
    cursor: pointer;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}