* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
      font-family: 'Poppins', sans-serif;
    background: url('alena-aenami-escape-hd.jpg') center/cover no-repeat fixed;
    color: #fff;
    overflow-x: hidden;
    line-height: 1.6;
}


.navbar {
    top: 0; left: 0; right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 35px;
    background: rgba(9, 13, 96, 0.337);
    z-index: 1000;
}

@media(max-width: 768px){
  .navbar {
    padding: 15px 20px;
  }
}

.nav-links a {
    margin: 0 8px;
    padding: 8px 18px;
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
    background: white;
    color: #6a11cb;
    box-shadow: 0 0 12px rgba(255,255,255,0.8);
}

body > *:not(header) {
    margin-top: 80px; 
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 15px;
    font-weight: 200;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.logo img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}


.booking-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

.booking-form {
    background: rgba(9, 13, 96, 0.604);
    width: 55%;
    padding: 40px;
    border-radius: 25px;
    backdrop-filter: blur(6px);
}

.booking-form h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.subtitle {
    margin-bottom: 25px;
    opacity: 0.9;
}

label {
    display: block;
    margin: 12px 0 6px;
    font-weight: 500;
}

input[type="text"],
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    margin-bottom: 12px;
    font-size: 15px;
}

.datetime-row {
    display: flex;
    gap: 12px;
}

.checkboxes {
    margin-top: 15px;
}

.checkboxes label {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.checkboxes span {
    font-size: 13px;
    opacity: 0.8;
}

.book-btn {
    width: 100%;
    padding: 14px;
    margin-top: 25px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.book-btn:hover {
    background: #ffffff;
    color: #0c0f6d;
}

footer {
    text-align: center;
    padding: 25px;
    background: rgba(9, 13, 96, 0.55);
    margin-top: 40px;
}

footer a {
    color: #ff66c4;
    text-decoration: none;
    font-weight: 600;
}

.socials i {
    margin: 0 12px;
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s;
}

.socials i:hover {
    transform: scale(1.2);
}