* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Poppins', sans-serif;
    background: url('alena-aenami-escape-hd.jpg') center/cover no-repeat fixed;
    color: #fff;
    overflow-x: hidden;
    line-height: 1.6;
     padding-top: 75px;
}



.navbar {
   position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 35px;
    background: rgba(9, 13, 96, 0.337);
    z-index: 1000;
}

@media(max-width: 768px){
  .navbar {
    padding: 15px 20px;
  }
}

.nav-links a {
 margin: 0 8px;
    padding: 8px 18px;
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
    background: white;
    color: #6a11cb;
    box-shadow: 0 0 12px rgba(255,255,255,0.8);
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 15px;
    font-weight: 200;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.logo img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}




.hero {
    height: 35vh;
    display: flex;
    flex-direction: column;
     background: rgba(9, 13, 96, 0);
    justify-content: center;
    text-align: center;
     align-items: center; 
    padding: 0 40px;
  
} 
.hero h1 {
    font-size: 52px;
    margin-bottom: 10px;
    text-shadow: 0 0 20px rgba(255,255,255,0.5);
}



.glass-card {
    max-width: 900px;
    margin: 60px auto;
    background: rgba(9, 13, 96, 0.604);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    padding: 35px;
    display: flex;
    gap: 25px;
    box-shadow: 0 0 30px rgba(255, 80, 180, 0.45);
    transition: 0.4s ease;
}

.glass-card img {
    width: 40%;
    border-radius: 20px;
    object-fit: cover;
}
.glass-card div {
    flex: 1;
}

.glass-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 40px rgba(255, 120, 220, 0.6);
}


.carousel-section {
    text-align: center;
    margin: 40px 0 80px;
}

.carousel {
    overflow: hidden;
    width: 90%;
    max-width: 900px;
    margin: auto;

}

.carousel-track {
    display: flex;
      gap: 12px;
    justify-content: flex-start; 
    animation: scroll 16s infinite linear;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}


.artist-slide {
    width: 300px;    
    background: rgba(9, 13, 96, 0.8);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    margin: 0 12px;
    padding: 18px;
    box-shadow: 0 0 20px rgba(138, 82, 255, 0.4);
    transition: 0.3s;
    flex-shrink: 0;
}


.artist-slide img {   
    width: 100%;  
    height: 200px;
 object-fit: cover;  
    display: block;
 }

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #111; 
}

.carousel-container {
  height: 350px;
}

.artist-slide:hover {
    transform: translateY(-6px);
}


footer {
   text-align: center;
    margin-top: 50px;
    padding: 20px;
    background: rgba(9, 13, 96, 0.5);
    
    border-top: 1px solid rgba(255,255,255,0.2);
}

footer a {
    color: #ff66c4;
    text-decoration: none;
    font-weight: 600;
}

.fade-out {
    animation: fadeOut 0.6s forwards;
}

.fade-in {
    animation: fadeIn 0.6s forwards;
}

.socials i {
    margin: 0 12px;
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s;
}

.socials i:hover {
    transform: scale(1.2);
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: scale(1.02);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.98);
    }
    to {
        opacity: 1;
    }
}